<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet_for_web.css') }}">
    <title>Mirrur</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

</head>

<div class="body">
  <br><br>
  <h1 class='text-center'>Mirrur Report:</h1>
  <p class='text-center'>Number: {{report.user_journal.phone_number}}</p>
  <div class="container">
      <div class="col-md-6">
        <h2>Journal</h2>
        <hr></hr>

        <div class="submission">
          {% for submission in report.user_journal.submissions %}
          <div class="submission">
            <span class='timestamp-label'>{{ submission.timestamp }}</span>
            <p>{{ submission.text }}</p>
          </div>
          {% endfor %}
        </div>

      </div>
      <div class="col-md-6">
        <h2>Automated Analysis</h2>
        <hr></hr>
        <canvas id="myChart" width="500" height="400"></canvas>
        <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: {
              datasets: [
                {
                  label: "Trailing Sentiment Index",
                  borderColor: "#3e95cd",
                  data: {{report.get_history_for_result('general_sentiment')}},
                  pointDotRadius: 1,
                  pointRadius: 1,
                  lineTension: 0.1
                },
                {
                  label: "Latest Sentiment Index",
                  borderColor: "#279eaa",
                  data: {{report.get_history_for_result('latest_sentiment')}},
                  pointDotRadius: 1,
                  pointRadius: 1,
                  lineTension: 0.1
                },
                {
                  label: "Polarization Index",
                  borderColor: "#5782e2",
                  data: {{report.get_history_for_result('polarization')}},
                  pointDotRadius: 1,
                  pointRadius: 1,
                  lineTension: 0.1
                }
              ],
              labels: {{report.get_labels()}}
            },
            options: {
              responsive: true,
              maintainAspectRatio: true,
              scales: {
                  yAxes: [{
                      ticks: {
                        min: 0,
                        max: 1
                      }
                  }]
              }
            }
        });
        </script>
        <hr>
        <h3>Latest Entry:</h3>
        <p><b>Sentiment Analysis Result:</b> {{ report.parseData(report.results["general_sentiment"]) }}</p>
        <i>Aggregate positivity word values for entire journal</i>
        <p><b>Latest Sentiment Analysis Result:</b> {{ report.parseData(report.results["latest_sentiment"]) }}</p>
        <i>Aggregate positivity word values for last entry</i>
        <p><b>Polarization Result:</b> {{ report.parseData(report.results["polarization"]) }}</p>
      </div>
  </div>
</div>

</html>
