<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet_for_web.css') }}">


    {% if title %}
    <title>Mirrur</title>
    {% else %}
    <title>Hot_DAMN - Mirrur</title>
    {% endif %}


</head>
    <body id="background">


        <div class="header">
            ENTER PROFILE NAME
        </div>


        <div class="main_collection">
            Submission   -- Sentiment Value
        </div>


    </body>
</html>